.card {
  width: 310px;
  height: 400px;
  padding: 20px;
  border-radius: 0px;
  cursor: pointer;
}
.card_body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 10px;
}
.price {
  margin: 15px 0px;
  display: flex;
  justify-content: space-between;
}

.header {
  position: relative;
  height: 110px;
  margin: -40px -70px 60px -70px;
  border-bottom: 1px solid #eee;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/image/slider7.avif');
  background-size: cover;
  z-index: -1;
}
