.header {
    margin: -40px -70px;
    position: relative;
    overflow: hidden;
    height: 580px;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/image/slider7.avif');
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
  }