.react-chatbot-kit-chat-container {
    width: 400px !important;
}
.react-chatbot-kit-chat-bot-message {
    margin-left: 0 !important;
}
.react-chatbot-kit-user-chat-message {
    background-color: #2898ec !important;
    color: white !important;
}
.react-chatbot-kit-user-chat-message-arrow {
    border-left: 8px solid #2898ec !important;
}